edge/NodeRED/flows.json
[
    {
        "id": "tab-1",
        "label": "Digital Twin - Edge"
    },
    {
        "id": "inject-tick",
        "type": "inject",
        "z": "tab-1",
        "name": "Tick 5s",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "topic": "",
        "x": 120,
        "y": 120,
        "wires": [["load-mapping"]]
    },
    {
        "id": "load-mapping",
        "type": "function",
        "z": "tab-1",
        "name": "Refresh mapping from API",
        "func": "const registers = '100,101,102,103,104,105,106,107,108,109,110,111,200,201,202,203,300,301';\nconst url = 'http://backend:8000/api/sensors/mapping/registers?registers=' + registers;\n\n// 异步获取映射表\nfetch(url)\n    .then(res => res.json())\n    .then(map => {\n        const valid = Object.keys(map).length;\n        global.set('sensor_map', map);\n        node.status({fill:'green', shape:'dot', text:'Mapping: ' + valid + ' registers'});\n    })\n    .catch(err => {\n        node.warn('Failed to load mapping: ' + err.message);\n    });\n\n// 发送寄存器读取请求\nreturn registers.split(',').map(addr => ({\n    payload: {\n        unit: 1,\n        fc: 3,\n        address: parseInt(addr),\n        quantity: 1\n    },\n    topic: 'modbus/read'\n}));",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 120,
        "wires": [["modbus-client"]]
    },
    {
        "id": "modbus-client",
        "type": "modbus-flex-write",
        "z": "tab-1",
        "name": "Modbus Flex Getter",
        "server": "modbus-server",
        "queueCommands": true,
        "maxCmdsPerTran": 1,
        "timeout": 3000,
        "x": 500,
        "y": 120,
        "wires": [["parse-modbus"]]
    },
    {
        "id": "parse-modbus",
        "type": "function",
        "z": "tab-1",
        "name": "Parse & normalize (dynamic)",
        "func": "const sensor_map = global.get('sensor_map');\nif (!sensor_map) {\n    node.warn('Sensor map not loaded yet');\n    return null;\n}\n\nconst addr = String(msg.payload.address);\nconst val = msg.payload.value;\nconst meta = sensor_map[addr];\nif (!meta) {\n    node.warn('Unknown register: ' + addr);\n    return null;\n}\n\nconst value = Math.round((val * meta.factor + meta.offset) * 100) / 100;\n\nreturn {\n    payload: {\n        asset_id: meta.asset_id,\n        sensor_id: meta.sensor_id,\n        measurement: meta.measurement,\n        value: value,\n        timestamp: new Date().toISOString()\n    },\n    topic: 'dt/telemetry/' + meta.asset_id\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 120,
        "wires": [["sliding-window", "alarm-rule"]]
    },
    {
        "id": "sliding-window",
        "type": "function",
        "z": "tab-1",
        "name": "10s sliding window smooth",
        "func": "const key = msg.payload.sensor_id + '-' + msg.payload.measurement;\nconst buffer = flow.get(key) || [];\nbuffer.push(msg.payload.value);\nif (buffer.length > 2) buffer.shift();\nflow.set(key, buffer);\n\nconst smooth_val = buffer.reduce((a, b) => a + b, 0) / buffer.length;\nmsg.payload.value = Math.round(smooth_val * 100) / 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 80,
        "wires": [["mqtt-out"]]
    },
    {
        "id": "alarm-rule",
        "type": "function",
        "z": "tab-1",
        "name": "Edge alarm rules",
        "func": "const { asset_id, sensor_id, measurement, value } = msg.payload;\nconst RULES = [\n    { sensor_id: 1, name: 'RACK-001 Temp High', threshold: 30, severity: 'warning' },\n    { sensor_id: 1, name: 'RACK-001 Temp Crit', threshold: 35, severity: 'critical' },\n    { sensor_id: 11, name: 'RACK-003 Hum High', threshold: 70, severity: 'warning' },\n    { sensor_id: 3, name: 'RACK-001 PWR High', threshold: 5, severity: 'warning' }\n];\nconst matched = RULES.filter(r => r.sensor_id === sensor_id && value > r.threshold);\nif (matched.length > 0) {\n    return matched.map(r => ({\n        payload: {\n            event_id: 'evt_' + Date.now(),\n            asset_id,\n            sensor_id,\n            event_type: 'THRESHOLD_VIOLATION',\n            severity: r.severity,\n            current_state: r.severity === 'critical' ? 'Alarm' : 'Warning',\n            description: r.name + ': ' + value + ' (threshold: ' + r.threshold + ')',\n            value,\n            timestamp: new Date().toISOString()\n        },\n        topic: 'industrial_twin/edge_node_01/event/alarm'\n    }));\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 200,
        "wires": [["alarm-mqtt"]]
    },
    {
        "id": "mqtt-out",
        "type": "mqtt out",
        "z": "tab-1",
        "name": "MQTT Publish",
        "server": "mqtt-broker",
        "topic": "",
        "qos": "1",
        "retain": "",
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "alarm-mqtt",
        "type": "mqtt out",
        "z": "tab-1",
        "name": "Alarm Publish",
        "server": "mqtt-broker",
        "topic": "",
        "qos": "2",
        "retain": "",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "modbus-server",
        "type": "modbus-client",
        "name": "Modbus Simulator",
        "clientType": "tcp",
        "bufferSize": 1000,
        "host": "simulator",
        "port": "5020",
        "reconnectTimeout": 2000,
        "unitId": 1,
        "timeout": 3000
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "emqx",
        "port": "1883",
        "clientid": "nodered_dt_edge",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "protocol": "",
        "birth-topic": "",
        "birth-payload": "",
        "birth-qos": "0",
        "birth-retain": "",
        "close-topic": "",
        "close-payload": "",
        "close-qos": "0",
        "close-retain": "",
        "will-topic": "",
        "will-payload": "",
        "will-qos": "0",
        "will-retain": ""
    }
]
